.background-container{
    background-color: #262626;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-family:'Segoe UI', sans-serif;
    
}
.question-text{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: white;
}
.question-input{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}   
.continue-button{
    display: flex;
    justify-content: center;
}

.continue-b{
    color: white;
    background-color: #262626;
    border: 0.1rem #9a5151 solid;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
}

.continue-b:active{
    background-color: #9a5151;
}